@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
img {
  width: 100%;
  height: auto;
}
/* header */
.nav-links {
  height: 0;
  overflow: hidden;
}
.visible {
  height: auto;
}
.nav-toggle {
  cursor: pointer;
}
.nav-links a {
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  margin: 0.45rem 2rem;
  font-weight: 600;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
}
li {
  list-style-type: none;
}
.icone {
  width: 25px;
}
.container {
  width: 90vw;
  max-width: 1162px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1rem;
}

.first-view {
  min-height: 100vh;
  background-color: #fff8ea;
}
/* hero */
.hero {
  margin-top: -1.5rem;
}
.hero {
  padding: 0 1.25rem;
}
.hero-info {
  margin-top: 0.75rem;
}
.hero-info h1 {
  width: 75%;
}
.hero-info > p {
  font-size: 20px;
  margin: 1.15rem 0;
  width: 85%;
  line-height: 25px;
  color: #5a5a5a;
}
.btn {
  display: block;
  background-color: #5800ff;
  color: white;
  border: 1px solid transparent;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.75px;
  cursor: pointer;
  text-decoration: none;
}
.offer {
  display: block;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  text-transform: capitalize;
  cursor: pointer;
  color: #5800ff;
  text-decoration: underline;
}

.feature {
  display: flex;
}
.feature p {
  text-transform: capitalize;
  margin: 0.5rem;
}

/* features */
.options {
  width: 85%;
  margin: 5rem auto;
}
.options > h3 {
  color: #5800ff;
  margin: 1rem 0;
}
.options h1 {
  width: 80%;
}
.option {
  margin: 2rem 0;
}
.feature-icone {
  display: block;
  width: 45px;
  margin: 0.75rem 0;
}
.feature-title {
  margin: 0.75rem 0;
}
.feature-description {
  width: 90%;
  line-height: 1.5rem;
  font-size: 18px;
}
/* show */
.show {
  width: 85%;
  margin: 3rem auto;
  background-color: #5800ff;
  border: 1px solid transparent;
  border-radius: 5px;
  color: aliceblue;
  padding: 3rem 2rem 0 2rem;
}
.show h1 {
  width: 70%;
  margin-bottom: 1.75rem;
}
.show p {
  width: 90%;
  margin-bottom: 1.75rem;
  letter-spacing: 0.85px;
  font-size: 19px;
  line-height: 22px;
}

.show .btn.show-btn {
  background-color: aliceblue;
  color: #5800ff;
  font-weight: 700;
  width: 100%;
  margin-bottom: 1.75rem;
}
.show-image {
  display: block;
  height: auto;
  height: 350px;
  object-fit: cover;
}
/* testimonails */
.testimonials {
  width: 85%;
  margin: 0 auto;
}
.user {
  width: 50px;
}
.testimonial {
  border: 1px solid #d3d3d3;
  padding: 1.25rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.profile {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.user-text {
  margin-bottom: 1.25rem;
  font-size: 18px;
  line-height: 1.6rem;
}
.btn.user-btn {
  background-color: transparent;
  color: #5800ff;
  border: 1px solid #d3d3d3;
  font-weight: 700;

  font-size: 20px;
}

/* footer */
.footer {
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin: 2rem auto auto 0;
  background-color: #fff8ea;
}
.footer article {
  width: 85%;
  margin: 1.25rem auto;
  line-height: 1.75rem;
}
.fiber p {
  width: 60%;
  line-height: 1.4rem;
}
.love {
  margin-top: 1rem;
}
